
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'PT Sans';
}

p,h1,h3,h4 {
  ffont-family: 'PT Sans';
  color: #202229;
  padding-bottom: 0px;
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: auto auto
}


.column-header {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


.header {
  background: #fff;
  color: #000;
  height: 700;
  padding: 40px 30px 30px;
}

.headBack {
  background-color: rgb(195, 239, 237);
  width: 70%;
  margin: auto auto
}

.header h1 {
  font-size: 40px;
  width: 70%;
}

.assignment {
  font-size: 14px;
  line-height: 24px;
  float: left;
  width: 33%;
}

.assignment a {
    color: #202229;
    text-decoration: none;
}

.assignment a:hover {
  color: #2ea6a0;
  text-decoration: none;
}




.footer {
    width: 1100px;
    float: left;
    padding: 100px 0px 30px 30px;
}





.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}
